.grid_container{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;

}
@keyframes myAnimation{
    from{background-color: #bc4c4c;}
    to{background-color: #cfd6d8;}
}
.grid_item{
    text-align: center;
    background-color: bisque;
   


}
.grid_container1{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;

}
.grid_item1{
    text-align: center;
    background-color: bisque;
}
.grid_nav{
    display:grid;
    grid-template-columns: repeat(1,1fr);
}
ol{
    list-style-type:none;
    background-color: aqua;
    
}
li{
    display: inline-block;
    padding:30px;
    height: 5px;
    background-color: antiquewhite;
} 
a{
    text-decoration-line: none;
   color: black;
}
button:hover{
    background-color: rgb(186, 244, 226);
    text-transform: uppercase;
    color:rgb(123, 166, 176);
    text-shadow: #bc4c4c;
}
button{
    justify-content: center;
    padding: 2px;
}
.grid_container2{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;


}
.grid_item2{
    text-align: center;
    background-color: bisque;
}
button{
    background-color:rgb(122, 211, 213);
    text-align-last: justify;
    text-align: center;
}
img{
    padding: 20px;
}
.grid_last{
    display:grid;
    grid-template-columns: repeat(2,1fr);

}
.grid_last2{
    text-align: center;

}
#me{
    border-radius:100%;
}
body{
     animation-timing-function: ease-in-out;
    animation-name: myAnimation;
    animation-duration: 3s;
    background-color: black;
}