
 
 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: hwb(165 49% 24% / 0.576);
}

header {
    background: #72ceeb;
    color: #ffffff;
    padding: 2px;
    text-align: center;
    text-transform: capitalize;
    
}

nav {
    background-color: #d8eff5;
    color: #b5aeae;
    padding: 1px;
   
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin:70px;
    transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(240, 213, 213, 0.2);
}

nav ul li a {
    color: #554e4e;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


section {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow:10px rgba(47, 46, 46, 0.1);
     transition: all 0.5s ease-in-out;
}

 section:hover {
      background-color: rgb(139, 206, 167);
      transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 div:hover {
      background-color: rgb(107, 220, 137);
      transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      
 }
 
.project {
    margin-bottom: 20px;
    border:2px 0  #064f65; 
    padding: 20px;
    margin: 20px;
    background: #e7a1a1;
    border-radius: 5px;

}

footer {
    text-align: center;
    padding: 10px 0;
    background: #064f65;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.nav{
    background-color: rgb(224, 212, 212);
    border-radius: 5px;
    border: 2px solid bisque;
    box-shadow:10px rgba(47, 46, 46, 0.1);
}
img{
    border-radius: 20%;
    justify-content: center;
    border: 20px 1px 1px #1746ed;
    transform-style: preserve-3d;
}
.grid_cont{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px
    }
.grid_item{
    border:2px 0  #064f65;
}
a:hover{
    color: rgba(13, 13, 12, 0.862);
}
.acd{
    display: grid;
    grid-template-columns:repeat(4,1fr);

    }
.acd_item{
    border:2px 0  #064f65; 
    padding: 20px;
    margin: 20px;
    background: #f2e7e7;
    border-radius: 5px;
    box-shadow:10px rgba(47, 46, 46, 0.1);
}
.skilldec{
    background-color: rgba(236, 222, 240, 0.979);
    
}
.acddec{
    text-align: center;
    justify-content: auto;
    background-color: rgb(212, 222, 238);
}
.abtdec{
    background-color: rgb(214, 244, 234); 
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}
.prjgrd{
    background-color: rgb(174, 191, 157);
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#projects{
    background-color: rgb(157, 185, 185);
}
.input{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: rgb(233, 227, 177);
}
.frm{
    background-color: rgb(198, 250, 219);
}
.cnt{
    background-color: rgb(245, 223, 245);
}
.rate{
    background-color: #928383;
    
} 